*{
    box-sizing: content-box;
}
.container, .container-fluid{
    padding: 0%;
}
.bg-purple{
    background-color:darkviolet;
}
.nav{
    top: 0;
    z-index: 100
}
body{
    overflow-x: hidden;
    padding-top: 32px;
}
a{
    text-decoration: none;
}
.border-color-white50{
    border-color:rgba(255,255,255,.5) !important;
}
.body{
    padding: 0%;
    height: 100vh;
}
p{
    margin: 0%;
}
.main{
    padding: 0%;
    background-image: url(../img/1247375.jpg);
    background-repeat: repeat-y;
    
}
.overlay-text-section1{
    top: 10%;
    left: 40%;
    right: 40%;
    margin: 0;
    padding-bottom: 10px;
    font-size: inherit;
    opacity: 100%;
}
.section1{
    background-image: url(../img/1247375.jpg);
    background-size: cover;
    width: 100%;
    opacity: 30%;
    height: 30px;
    font-size: 19px;
}
.bg-white-50{
    background-color: white;
    opacity: 50%;
}
.bg-darkpurple{
    color:darkmagenta;
}
a{
    color: inherit;
}
.align-item-center{
    align-items: center;
}
.cards{
    justify-content: center;
}
.instagram:hover,.telegram:hover,.email:hover{
    color: black;
    background-color: aliceblue;
}
.cards{
    overflow-x: hidden;
    flex-wrap: wrap;
}
@media screen and (min-width:576px) {
    .cards{
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
}